version: '3'

services:
  db:
    image: mysql:5.6.43
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: username
      MYSQL_PASSWORD: password
      MYSQL_ROOT_HOST: '%'
    volumes:
      - ./db:/var/lib/mysql
    ports:
      - 44006:3306
  web:
    image: nginx:1.15.9
    ports:
      - 44000:80
    volumes:
      - ./wordpress:/wordpress
      - ./additional-configurations/site.conf:/etc/nginx/conf.d/default.conf
      - ./additional-configurations/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
  php:
    build:
      context: ./
      dockerfile: additional-configurations/php-Dockerfile
    volumes:
      - ./wordpress:/wordpress
      - ./additional-configurations/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - db
    environment:
      APP_ENV: development
