version: "3"

services:
  db:
    image: mysql/mysql-server:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: username
      MYSQL_PASSWORD: password
      MYSQL_ROOT_HOST: "%"
    volumes:
      - ./db:/var/lib/mysql
      - ./additional-configurations/mycustom.cnf:/etc/mysql/conf.d/custom.cnf
    ports:
      - 44006:3306
  web:
    image: nginx
    ports:
      - 44000:80
    volumes:
      - ./wordpress:/wordpress
      - ./additional-configurations/site.conf:/etc/nginx/conf.d/default.conf
      - ./additional-configurations/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
  php:
    build:
      context: ./
      dockerfile: additional-configurations/php-Dockerfile
    volumes:
      - ./wordpress:/wordpress
      - ./additional-configurations/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - db
    environment:
      APP_ENV: development
    extra_hosts:
      - "localhost:172.18.0.1"
