.fs-14 {
  @include font-size($font-size-14px);
}

.fs-18 {
  @include font-size($font-size-18px);
}

.fs-30 {
  @include font-size($font-size-30px);
}

.fs-40 {
  @include font-size($font-size-40px);
}

.fs-90 {
  @include font-size($font-size-90px);
}

.socialLinksContainer {
  background-color: #f6f5f5;
  @include font-size($font-size-12px);
}

.socialLinksContainer,
.socialLinks {
  height: 3.125rem;
  line-height: 3.125rem;
  color: #676767;
}

.socialLinks .svg-inline--fa {
  @include font-size(1.5rem);
  position: relative;
  top: 0.25rem;
}

.socialLinks path {
  fill: url(#socialLinksGrad) #e37949;
}

.socialLinks a {
  color: #676767;
}

.socialLinks a:hover span {
  text-decoration: underline;
}

.nav-link {
  @include font-size($font-size-14px);
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1304px;
}

.btn-red {
  background: $crougie;
  background: linear-gradient(90deg, $crougie 0%, $cred 100%);
}

.btn-red:hover {
  background: linear-gradient(90deg, $crougie 0%, $crougie 100%);
}

.card-container {
  @extend .col-lg-2;
  min-width: 20.25rem;
  max-width: 20.25rem;
}

.btn-white-temoignages {
  border-radius: 0;
  text-align: left;
  border: 0;
  border-top: 1px solid $cgray;
  color: $cblu;
  text-transform: uppercase;
  @include font-size($font-size-14px);
  @extend .px-3;
  @extend .py-2;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
}

.btn-white-temoignages:hover {
  background: $cblu;
  color: $cwhite;
  border-color: $cblu;
}

.lead {
  @extend .col-md-5;
  @extend .mx-auto;
  @extend .text-center;
  @extend .py-5;
  color: $crougie;
}

.icon-text {
  @include font-size($font-size-14px);
  color: $cpinky;
  font-weight: $font-weight-bold;
  @extend .mb-2;
}

.icon-text svg {
  vertical-align: bottom;
  @extend .mr-2;
}

.card-subtitle {
  @extend .icon-text;
  @extend .mt-0;
  @extend .mb-2;
}

.card-text {
  @include font-size($font-size-14px);
}

.number {
  width: 17.875rem;
  height: 17.875rem;
  border: 0.375rem solid $cpinky;
  border-radius: 50%;
  text-align: center;
  padding-top: 5rem;
}

.numberTitle {
  @include font-size($font-size-75px);
  font-weight: $font-weight-bold;
  color: #fff;
  position: relative;
  top: -1rem;
}

.numberSubtitle {
  position: relative;
  top: -2rem;
  color: $cpinky;
  font-weight: $font-weight-bold;
}

footer a {
  @extend .text-gray;
  text-decoration: underline;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 2;
}

.navbar .active a {
  color: $clorage !important;
  text-decoration: none;
}

.article-container {
  position: relative;
  top: -7rem;
}

.template-temoignage .attachment-post-thumbnail {
  @extend .img-fluid;
}

.alert-pink {
  @extend .fs-18;
  display: table; // only way to easily center a div without having to use a wrapper or a fixed width, omg css
  margin: 0 auto;
  font-weight: $font-weight-normal;
  border: 2px solid $cpinky;
  color: $cpinky;
  background: transparent;
  padding: 1rem;
  text-align: center;
}

@include media-breakpoint-up(lg) {
  .lg-2columns {
    columns: 2 auto;
  }
}

#mainHeader {
  height: 99px;
}

@include media-breakpoint-down(md) {
  header .navbar {
    z-index: $zindex-fixed;
    background: white;
    position: relative;
    padding-bottom: 0;
  }

  .navbar-collapse {
    padding-bottom: 1rem;
  }

  .navbar-collapse.show {
    border-bottom:  1px solid $cblackm;
  }

  header .navbar.fixme {
    position: fixed;
    top: 0;
  }

  .admin-bar header .navbar.fixme {
    top: 32px;
  }
}

.content a:link:not(.btn) {
  text-decoration: underline;
}

.h124 {
  height: 124px
}
