.fs-18 {
  font-size: $font-size-18px;
}

.socialLinksContainer {
  background-color: #f6f5f5;
  font-size: $font-size-12px;
}

.socialLinksContainer,
.socialLinks {
  height: 3.125rem;
  line-height: 3.125rem;
  color: #676767;
}

.socialLinks .svg-inline--fa {
  font-size: 1.5rem;
  position: relative;
  top: 0.25rem;
}

.socialLinks path {
  fill: url(#socialLinksGrad) #e37949;
}

.socialLinks a {
  color: #676767;
}

.socialLinks a:hover span {
  text-decoration: underline;
}

.nav-link {
  font-size: $font-size-14px;
}

.nav-link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1304px;
}

.btn-red {
  background: rgb(255, 16, 71);
  background: linear-gradient(90deg, $cred 0%, $cpinky 100%);
}

.btn-red:hover {
  background: linear-gradient(90deg, $cpinky 0%, $cpinky 100%);
}

.card-container {
  @extend .col-lg-2;
  min-width: 20.25rem;
  max-width: 20.25rem;
}

.btn-white {
  border-radius: 0;
  text-align: left;
  border: 0;
  border-top: 1px solid $cgray;
  color: $cblu;
  text-transform: uppercase;
  font-size: $font-size-14px;
  @extend .px-3;
  @extend .py-2;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
}

.btn-white:hover {
  background: $cblu;
  color: $cwhite;
  border-color: $cblu;
}

.lead {
  @extend .col-md-5;
  @extend .mx-auto;
  @extend .text-center;
  @extend .py-5;
  color: $crougie;
}

.icon-text {
  font-size: $font-size-14px;
  color: $cpinky;
  font-weight: $font-weight-bold;
  @extend .mb-2;
}

.icon-text svg {
  vertical-align: bottom;
  @extend .mr-2;
}

.card-subtitle {
  @extend .icon-text;
  @extend .mt-0;
  @extend .mb-2;
}

.card-text {
  font-size: $font-size-14px;
}
