body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.socialLinksContainer {
  background-color: #f6f5f5;
  font-size: 12px;
}

.socialLinksContainer,
.socialLinks {
  height: 50px;
  line-height: 50px;
  color: #676767;
}

.socialLinks .svg-inline--fa {
  font-size: 24px;
  position: relative;
  top: 4px;
}

.socialLinks path {
  fill: url(#socialLinksGrad) #e37949;
}

.socialLinks a {
  color: #676767;
}

.socialLinks a:hover span {
  text-decoration: underline;
}

.nav-link {
  font-size: 14px;
}

.nav-link:hover {
  text-decoration: underline;
}

.headline {
  font-size: 60px;
  font-weight: 700;
}

.container {
  max-width: 1280px;
}
