@import "~bootstrap/scss/functions";
$enable-responsive-font-sizes: true;

// colors
$cblackm: #463833;
$cgrazy: #2c221e;
$cred: #ff1148;
$cpinky: #ff4f86;
$clinks: #acb879;
$cgray: #f6f5f5;
$crougie: #e37949;
$cwhite: #fff;
$cblu: #474b99;
$clorage: #abbf3b;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-base: $font-weight-light;

$theme-colors: (
  red: $cred,
  gray: $cgray,
  white: $cwhite,
  blue: $cblu,
  pink: $cpinky,
  black: $cblackm,
  grazy: $cgrazy
);

$new-navbar-dark-color: str-replace(str-replace(#{$navbar-dark-color}, "(", "%28"), ")", "%29");
$new-navbar-light-color: str-replace(str-replace(#{$navbar-light-color}, "(", "%28"), ")", "%29");

$navbar-dark-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$new-navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
$navbar-light-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$new-navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

// 1rem = 16px - default browser font size usually
$font-size-90px: 5.625rem;
$font-size-60px: 3.75rem;
$font-size-40px: 2.5rem;
$font-size-30px: 1.875rem;
$font-size-18px: 1.125rem;
$font-size-16px: 1rem;
$font-size-14px: 0.875rem;
$font-size-12px: 0.75rem;
$navbar-light-color: #000;
$navbar-light-hover-color: #000;
$grid-columns: 8;
$grid-gutter-width: 24px;
$font-family-base: "Montserrat", sans-serif;
$headings-font-weight: $font-weight-bold;
$h1-font-size: $font-size-60px;
$h2-font-size: $font-size-40px;
$h3-font-size: $font-size-30px;
$btn-font-size-lg: $font-size-18px;
$btn-font-weight: $font-weight-normal;
$btn-padding-y-lg: 1.5rem;
$btn-padding-x-lg: 3rem;
$btn-border-radius-lg: 4.125rem;
$link-color: $clinks;
$link-hover-color: darken($link-color, 15%);
$body-color: $cblackm;
$spacers: map-merge(
  (
    6: ($spacer * 4.5),
    7: ($spacer * 7),
    8: ($spacer * 11)
  ),
  $spacers
);
$lead-font-size: $font-size-base;
$lead-font-weight: $font-weight-normal;
